:root {
  --clr-federal-blue: #0A0A46;
  --clr-white: #FFFFFF;
  --clr-bright-pink: #FF326E;
  --clr-medium-slate-blue: #7864FF;
  --clr-electric-indigo: #472CFF;
  --clr-turquoise: #00DCBE;
  --clr-deep-sky-blue: #00BEFF;
  --clr-white-smoke: #F5F5F5;
  --clr-french-gray: #CECEDA;

  --ff-normal: 'Hanken Grotesk', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--ff-normal);
  padding: 1.3125em;
}