:root {
  --clr-federal-blue: #0A0A46;
  --clr-white: #FFFFFF;
  --clr-bright-pink: #FF326E;
  --clr-medium-slate-blue: #7864FF;
  --clr-electric-indigo: #472CFF;
  --clr-turquoise: #00DCBE;
  --clr-deep-sky-blue: #00BEFF;
  --clr-white-smoke: #F5F5F5;
  --clr-french-gray: #CECEDA;

  --ff-normal: 'Hanken Grotesk', sans-serif;

  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: .625rem
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  padding: 1.3125em;
}

span,
strong {
  display: block;
  color: var(--clr-federal-blue)
}

section {
  font-size: var(--fs-400);
  font-family: var(--ff-normal);
  text-align: center;
  color: var(--clr-federal-blue);
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  background-color: var(--clr-white-smoke);
  margin-bottom: 2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.recommended {
  background-color: var(--clr-federal-blue);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.right .recommended {
  display: none;
}

.recommended p {
  font-size: var(--fs-600);
  font-weight: bold;
  color: var(--clr-white);
}

.option {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 2em;
}

.option p {
  font-size: var(--fs-600);
  font-weight: bold;
  line-height: 1;
  width: 75%;
}

.container {
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 2rem;
}

.container::before {
  content: '';
  height: 100%;
  width: .0625rem;
  background-color: var(--clr-french-gray);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.0313rem;
}

.tickets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.dates {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .0625rem;
  position: relative;
}

.dates::before {
  content: '';
  height: 100%;
  width: .0625rem;
  background-color: var(--clr-white-smoke);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.0313rem;
}

.date {
  font-size: var(--fs-500);
  font-weight: 500;
  background-color: var(--clr-french-gray);
  padding: 1em;
}

.conference {
  margin-bottom: 1em;
}

.conference strong {
  font-size: var(--fs-600);
}

.conference span {
  width: 75%;
  margin: 0 auto;
}

.ticket {
  background-color: var(--clr-white);
  outline: none;
  border-radius: 0.8em;
  padding: 1em .6875em;
  display: grid;
  gap: 0.1em;
  cursor: pointer;
  height: 17rem;
}

.right .ticket-savings {
  display: none;
}

.primary {
  border: 2px solid var(--clr-bright-pink);
}

.secondary {
  border: 2px solid var(--clr-turquoise);
}

.tertiary {
  border: 2px solid var(--clr-deep-sky-blue);
}

.primary:hover {
  background-color: var(--clr-bright-pink);
}

.secondary:hover {
  background-color: var(--clr-turquoise);
}

.tertiary:hover {
  background-color: var(--clr-deep-sky-blue);
}

.ticket-savings {
  border-radius: .1875rem;
  padding: 0.5em 1.875rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: bold;
  font-size: var(--fs-300);
  display: inline-block;
  margin: 0 auto;
}

.primary .ticket-savings {
  color: var(--clr-white);
  background-color: var(--clr-bright-pink);
}

.secondary .ticket-savings {
  color: var(--clr-white);
  background-color: var(--clr-turquoise);
  color: var(--clr-federal-blue);
}

.tertiary .ticket-savings {
  color: var(--clr-white);
  background-color: var(--clr-deep-sky-blue);
  color: var(--clr-federal-blue);
}

.ticket:hover .ticket-savings {
  background-color: var(--clr-white);
  color: var(--clr-federal-blue);
}

.ticket-price {
  font-size: var(--fs-600);
}

.ticket-cta {
  background-color: var(--clr-federal-blue);
  color: var(--clr-white);
  padding: 0.5em 1em;
  display: inline-block;
  margin: 0 auto;
}

.ticket.plus {
  grid-column: 1 / 3;
  z-index: 999;
}

.staffplus {
  grid-column: 2 / 3;
}

@media screen and (min-width: 800px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
  }

  .ticket {
    height: 16rem;
  }

  .option p {
    width: auto;
  }

  .right .recommended {
    display: block;
    background-color: var(--clr-white);
  }
}

.online {
  display: grid;
  gap: 1em;
  background-color: var(--clr-white-smoke);
  border-radius: 0.5em;
  padding: 0.5em;
}

.online .ticket-conference {
  font-size: var(--fs-500);
}

.online hr {
  color: var(--clr-french-gray);
}

.online .ticket:hover hr {
  color: var(--clr-federal-blue)
}




@media screen and (min-width: 800px) {
  .online {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    background-color: var(--clr-white-smoke);
    border-radius: 0.5em;
    padding: 0.5em;
  }
}